/* ---------------------------------------------------------
   DH101.org sandbox
   ---------------------------------------------------------*/
   
    /* Default link styling */
    a:link { color:#0271fb; }
    a:visited { color:#bd02fb; }
    a:hover, a:focus { color:#000; }
    a:active { color:#fb0e02; }



/* ---------------------------------------------------------
   Author's styles
   ---------------------------------------------------------*/

   body {
    background-color: #faedcd;
        font-family: 'Lato', sans-serif;   
        color: #181b0e;
        line-height: 2.5vw;
        letter-spacing: -.02em;
        @font-face {
            font-family: 'Anima';
            src: url('../fonts/Anima/Anima-VariableFont_wght.ttf') format('ttf') tech('variations'),
                 url('../fonts/Anima/Anima-VariableFont_wght.ttf') format('ttf-variations');
            font-weight: 100 1000;
            font-stretch: 25% 151%;
        }
       

    }

    .gradient {
        background: #136a8a;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to top, #267871, #136a8a);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to top, #267871, #136a8a); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        
        
        
}

h1 {
    margin-bottom: 3rem;
}


    h1, h2 {
        font-family: 'Abril Fatface', cursive;
        
    }

h1.page-heading {
    font-size: 0.8rem;
    font-family: 'Lato', sans-serif !important; 
}

    .header-box {
        background-color: #000;
 

       }

    .display {
        padding: 3rem;
    }   

   .display h2 {
   /* font-family: 'Arima', cursive; */
   font-family: 'Abril Fatface', cursive;
    /* font-size: 12rem; */
    /* The clamp value handles the typography but not padding around the display element */
    font-size: clamp(1.5rem, 8vw + 1rem, 12rem);
    color: #faedcd;
    text-transform: uppercase;
    line-height: 9rem;
   }

  
   .footerBold {
    font-size: 2rem;
   }


.image-title {
    font-size: 2rem;
}

/* ---------------------------------------------------------
  Media Queries
   ---------------------------------------------------------*/

   @media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
  }

  /* ----------- iPhone X ----------- */

/* Portrait and Landscape */
@media only screen 
and (min-device-width: 375px) 
and (max-device-width: 812px) 
and (-webkit-min-device-pixel-ratio: 3) { 

    /* reduce line height */
    .display h2 {
        line-height: 2.5rem;
    }

}

/* Portrait */
@media only screen 
and (min-device-width: 375px) 
and (max-device-width: 812px) 
and (-webkit-min-device-pixel-ratio: 3)
and (orientation: portrait) { 

}

/* Landscape */
@media only screen 
and (min-device-width: 375px) 
and (max-device-width: 812px) 
and (-webkit-min-device-pixel-ratio: 3)
and (orientation: landscape) { 

}


/* ----------- Non-Retina Screens ----------- */
@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1) { 
}

/* ----------- Retina Screens ----------- */
@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (min-resolution: 192dpi) { 
}



/* ---------------------------------------------------------
   Print styles
   ---------------------------------------------------------*/
@media print {
    * {
        color:#000 !important;
        box-shadow:none !important;
        text-shadow:none !important;
        background:transparent !important;
    }
    html { background-color:#fff; }
    /* Hide navigation */
    nav { display:none; }

    /* Show link destinations in brackets after the link text */
    a[href]:after { content: " (" attr(href) ") "; }
    a[href] {
        font-weight:bold;
        text-decoration:underline;
        color:#06c;
        border:none;
    }
    /* Don't show link destinations for JavaScript or internal links */
    a[href^="javascript:"]:after, a[href^="#"]:after { content:""; }

    /* Show abbr title value in brackets after the text */
    abbr[title]:after { content: " (" attr(title) ")"; }

    figure {
        margin-bottom:1em;
        overflow:hidden;
    }

    figure img { border:1px solid #000; }
}